<h1>Recipes</h1>

<% @recipes.each do |recipe| %>
  <h2>
    <%= recipe.title %>
  </h2>

  <ul>
  <% recipe.recipe_ingredients.each do |recipe_ingredient| %>
    <li>
      <%= recipe_ingredient.amount %> <%= recipe_ingredient.ingredient.name %>, <%= recipe_ingredient.description %>
    </li>
  <% end %>
  </ul>
<% end %>
